    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    div#menu {
        height: 76px;
        width: 100%;
        background-color: white;
        border: 4px solid black;
        border: 1px solid black;
    }
    
    #contenidor-pokemon {
        margin-right: 0em;
        padding-top: 0em;
        position: absolute;
        top: 35%;
        left: 25%;
    }
    
    img {
        width: 15em;
    }
    
    #pokeball {
        height: 2em;
        width: auto;
    }
    
    #trainer {
        height: 15em;
        width: auto;
    }
    
    .pantalla {
        width: 63%;
        border: 1px solid black;
        margin: auto;
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        background-image: url(../img/backgrounds/background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    @keyframes redflash {
        to {
            background-color: black;
        }
    }
    
    .red {
        animation: redflash 0.1s 2 alternate ease-out;
    }
    
    button {
        cursor: url(../img/cursor.jpg), auto;
    }
    
    #shine-effect {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    @media (max-width:48em) {
        .pantalla {
            width: 100%;
            border: 1px solid black;
            margin: auto;
            margin-top: 0em;
            display: flex;
            flex-direction: column;
            background-image: url(../img/backgrounds/background.png);
            background-repeat: no-repeat;
            background-size: cover;
            justify-content: flex-end;
        }
        #contenidor-pokemon {
            margin-right: 0em;
            padding-top: 0em;
        }
        div#menu {
            height: 76px;
            width: 100%;
            background-color: initial;
            border: initial;
            display: flex;
            justify-content: space-around;
        }
        #pokeball {
            height: 4em;
        }
        #trainer {
            height: 15em;
            width: auto;
            position: absolute;
            left: -16px;
            bottom: 0px;
        }
    }